@page "/"

<h1>Welcome to Burger Queen</h1>

<h3>Type</h3>


<div>
    <ul> @type.Type 
        <li for="type">@type.Type</li>
    </ul>
</div>

@code {
    CatalogAPI.Domain.Models.CatalogType type = new CatalogAPI.Domain.Models.CatalogType();

    CatalogAPI.Domain.Models.CatalogItem item = new CatalogAPI.Domain.Models.CatalogItem();
}

