@page "/"
@using CatalogAPI.Domain.Models
@inject CatalogAPI.Domain.Interfaces.ICatalogService CatalogService
@inject NavigationManager NavigationManager

<h1>Welcome to Burger Queen</h1>

@foreach (var type in catalogTypes)
{
    <div>
        <ul>
            <h3>@type.Type</h3>
            <button class="btn btn-info" @onclick="DeleteType"> Delete</button>
            <button class="btn btn-info" @onclick="UpdateType">Update</button>
            <br />
            <br />
            @foreach (var item in catalogItems)
            {
                @if (type.Id == item.CatalogTypeId)
                {
                    <li>
                        Name : @item.Name <br />
                        Description : @item.Description <br />
                        Price : @item.Price <br />
                        <button type="submit" class="btn btn-info" @onclick="UpdateItem">Update</button>
                        <button type="submit" class="btn btn-primary" @onclick="DeleteItem">Delete</button>
                    </li>
                }
            }
            <br />
        </ul>
    </div>
}

@code {
    CatalogType type = new CatalogAPI.Domain.Models.CatalogType();
    CatalogItem item = new CatalogAPI.Domain.Models.CatalogItem();

    private IEnumerable<CatalogType> catalogTypes;
    private IEnumerable<CatalogItem> catalogItems;

    protected override async Task OnInitializedAsync()
    {
        catalogTypes = await _CatalogService.GetAllTypeAsync();
        catalogItems = await _CatalogService.GetAllItemsAsync();
    }
      
    private async Task UpdateType()
    {
        //await CatalogService.UpdateType();
        NavigationManager.NavigateTo("/type");
    }

    private async Task DeleteType()
    {
        //await CatalogService.DeleteTypeById();
    }
      
    //private void UpdateItem()
    //{
    //    NavigationManager.NavigateTo("/item");
    //}

    //private async Task DeleteItem()
    //{
    //    await _CatalogService.DeleteItemById(item.Id);
    //    NavigationManager.NavigateTo("");
    //}



}

