@page "/type"

@using CatalogAPI.Domain.Models

@inject CatalogAPI.Domain.Interfaces.ICatalogService CatalogService
@inject NavigationManager NavigationManager

<h3>Type</h3>

<EditForm Model="@type" OnValidSubmit="HandleRegistration">

    <div class="form-group">
        <label for="type">Menu Naam</label>
        <InputText id="type" @bind-Value="type.Type" class="form-control" />
    </div>
  
    <button type="submit" class="btn btn-primary" >Submit</button>
</EditForm>

@code {
    private CatalogType type = new CatalogType();

    private async Task HandleRegistration()
    {
        await CatalogService.CreateTypeAsync(type);
        NavigationManager.NavigateTo("");
    }
}