@model CatalogAPI.Model.Catalogs
@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CatalogDatas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.Type)
                    @Html.DisplayFor(modelItem => item.Catalogitems)
                </td>
            </tr>
        }
    </tbody>
</table>
