@page "/DeleteItem/{DeleteId}"

@using AdminUiWasm.CatalogApi

@inject HttpClient Http
@inject CatalogApi.catalog_apiClient client

@inject NavigationManager NavigationManager


<div>
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <input type="hidden" id="bookToDeleteField" />
        Are you sure you want to delete @item.Name <span id="bookTitleField"></span>?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" @onclick="Cancel">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="Delete">Delete</button>
    </div>

</div>

@code {

    CatalogItem item = new CatalogItem();

    [Parameter]
    public string DeleteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DeleteId = DeleteId ?? "0";
        CatalogItem item = await client.GetCatalogItemByIdAsync(Convert.ToInt32(DeleteId));
	    this.item.Name = item.Name;
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("");
    }

    private async Task Delete()
    {
        item.Id = Convert.ToInt32(DeleteId);
        await client.DeleteCatalogItemByIdAsync(item.Id);
        NavigationManager.NavigateTo("");
    }

}
